@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navigation-height: 4.8rem;
  }
  html {
    @apply bg-background text-white;
    font-size: 62.5%;
  }

  .data-highlighted .active rect:first-child {
    fill-opacity: 0.4;
  }

  .data-highlighted .active rect:not(:first-child) {
    stroke-opacity: 1;
  }

  .data-highlighted .active path {
    fill-opacity: 1;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: rgba(0, 0, 0, 0.56) 0px 3px 12px;
  }

  .text-gradient {
    background: linear-gradient(
      to right bottom,
      rgb(255, 255, 255) 30%,
      rgba(255, 255, 255, 0.38)
    );
    background-clip: text;
    color: transparent;
  }

  .sunrise-mask {
    -webkit-mask-image: radial-gradient(
      circle at center center,
      #000000,
      transparent 80%
    );
    mask-image: radial-gradient(
      circle at center center,
      #000000,
      transparent 80%
    );
  }

  .star-mask {
    -webkit-mask-image: radial-gradient(
      circle at center bottom,
      black,
      transparent
    );
    mask-image: radial-gradient(circle at center bottom, black, transparent);
  }

  .usp-mask {
    mask: linear-gradient(black, black) content-box content-box,
      linear-gradient(black, black);
    -webkit-mask: linear-gradient(black, black) content-box content-box,
      linear-gradient(black, black);
    mask-composite: xor;
    -webkit-mask-composite: xor;
  }

  .thunder-mask {
    mask-image: linear-gradient(black, transparent 70%);
    -webkit-mask-image: linear-gradient(black, transparent 70%);
  }

  .keybord-mask {
    mask-image: linear-gradient(
      transparent 0%,
      rgba(0, 0, 0, 0.57) 33.98%,
      black 100%
    );
    -webkit-mask-image: linear-gradient(
      transparent 0%,
      rgba(0, 0, 0, 0.57) 33.98%,
      black 100%
    );
  }

  .shortcut-keys-mask {
    mask-image: linear-gradient(
      to right,
      transparent,
      black 40%,
      black calc(60%),
      transparent 100%
    );
    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      black 40%,
      black calc(60%),
      transparent 100%
    );
  }

  .feature-image-mask {
    -webkit-mask: linear-gradient(black, black) content-box content-box,
      linear-gradient(black, black);
    mask: linear-gradient(black, black) content-box content-box,
      linear-gradient(black, black);
    mask-composite: xor;
    -webkit-mask-composite: xor;
  }

  .feature-image-mask2 {
    mask-image: linear-gradient(black, transparent);
    -webkit-mask-image: linear-gradient(black, transparent);
  }

  .feature-mask {
    mask-image: radial-gradient(100% 50% at center center, black, transparent);
    -webkit-mask-image: radial-gradient(
      100% 50% at center center,
      black,
      transparent
    );
  }
}
