@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navigation-height: 4.8rem;
  }
  html {
    @apply bg-background text-white;
    font-size: 62.5%;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: rgba(0, 0, 0, 0.56) 0px 3px 12px;
  }
}
