@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --navigation-height: 4.8rem;
  }
  html {
    @apply bg-background text-white;
    font-size: 62.5%;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: rgba(0, 0, 0, 0.56) 0px 3px 12px;
  }

  .text-gradient {
    background: linear-gradient(
      to right bottom,
      rgb(255, 255, 255) 30%,
      rgba(255, 255, 255, 0.38)
    );
    background-clip: text;
    color: transparent;
  }

  .sunrise-mask {
    -webkit-mask-image: radial-gradient(
      circle at center center,
      #000000,
      transparent 80%
    );
    mask-image: radial-gradient(
      circle at center center,
      #000000,
      transparent 80%
    );
  }

  .star-mask {
    -webkit-mask-image: radial-gradient(
      circle at center bottom,
      black,
      transparent
    );
    mask-image: radial-gradient(circle at center bottom, black, transparent);
  }
}
